<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status GUI</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="header">
                <h1>Status GUI</h1>
            </div>

            <div class="info_ticket">
                <h3>Ticket Rejected:</h3>
                <div class="message-area" id="messageAreaTicket"></div>
            </div>
            <div class="info_trolley">
                <h3>Status Trolley:</h3>
                <div class="message-area" id="messageAreaTrolley"></div>
            </div>
            <div class="posizione_trolley">
                <h3>Posizione Trolley:</h3>
                <div class="message-area" id="messageAreaPosizione"></div>
            </div>
            <div class="debug">
                <h3>Debug:</h3>
                <div class="message-area" id="messageAreaDebug"></div>
            </div>
        </div>
        <div class="sidebar">
            <h3>Current Weight: <span id="cur">Curr</span> (kg)</h3>
            <h3>Reserved Weight: <span id="res">Res</span> (kg)</h3>
            <h3>ColdRoom Capacity: <span id="max">Tot</span> (kg)</h3>
            <div class="progress-bar" role="progressbar" id="progress" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100" style="--value: 0"></div>
        </div>
        <table>
            <tr>
                <td id="cella00" data-variable="var00"></td>
                <td id="cella01" data-variable="var01"></td>
                <td id="cella02" data-variable="var02"></td>
                <td id="cella03" data-variable="var03"></td>
                <td id="cella04" data-variable="var04"></td>
                <td id="cella05" data-variable="var05"></td>
                <td id="cella06" data-variable="var06"></td>
            </tr>
            <tr>
                <td id="cella10" data-variable="var10"></td>
                <td id="cella11" data-variable="var11"></td>
                <td id="cella12" data-variable="var12"></td>
                <td id="cella13" data-variable="var13"></td>
                <td id="cella14" data-variable="var14"></td>
                <td id="cella15" data-variable="var15"></td>
                <td id="cella16" data-variable="var16"></td>
            </tr>
            <tr>
                <td id="cella20" data-variable="var20"></td>
                <td id="cella21" data-variable="var21"></td>
                <td id="cella22" data-variable="var22"></td>
                <td id="cella23" data-variable="var23"></td>
                <td id="cella24" data-variable="var24"></td>
                <td id="cella25" data-variable="var25"></td>
                <td id="cella26" data-variable="var26"></td>
                
            </tr>
            <tr>
                <td id="cella30" data-variable="var30"></td>
                <td id="cella31" data-variable="var31"></td>
                <td id="cella32" data-variable="var32"></td>
                <td id="cella33" data-variable="var33"></td>
                <td id="cella34" data-variable="var34"></td>
                <td id="cella35" data-variable="var35"></td>
                <td id="cella36" data-variable="var36"></td>
                
            </tr>
            <tr>
                <td id="cella40" data-variable="var40"></td>
                <td id="cella41" data-variable="var41"></td>
                <td id="cella42" data-variable="var42"></td>
                <td id="cella43" data-variable="var43"></td>
                <td id="cella44" data-variable="var44"></td>
                <td id="cella45" data-variable="var45"></td>
                <td id="cella46" data-variable="var46"></td>
            </tr>
            <tr>
                <td id="cella50" data-variable="var50"></td>
                <td id="cella51" data-variable="var51"></td>
                <td id="cella52" data-variable="var52"></td>
                <td id="cella53" data-variable="var53"></td>
                <td id="cella54" data-variable="var54"></td>
                <td id="cella55" data-variable="var55"></td>
                <td id="cella56" data-variable="var56"></td>
            </tr>
        </table>
    </div>

    <script src="../main.js"></script>
</body>

</html>